<%- include header %>
<form method="post">
  用户名：<input class="username" type="text" name="name"/><br />
  密  码：  <input class="password" type="password" name="password"/><br />
  <div class="btn">登录</div>
</form>
<p class="tips"></p>
<%- include footer %>
<script src="/javascripts/ajax.js"></script>
<script src="/javascripts/login.js"></script>