<%- include header %>
<div class="logout">
    hi! <span class="logname"><%= login_name %></span>已经登录了
</div>
<p>亲爱的,登录之后,就不能注册了哦</p>
<button class="btn">退出登录</button>
<%- include footer %>
<script src="/javascripts/ajax.js"></script>
<script src="/javascripts/logout.js"></script>
